.main{
  margin: 0px 5px !important;
  overflow: scroll;
}
.mainHeader{
    color: #3E3E3E;
    font-size: 18px;
    font-weight: 500;
}
.subTitle{
  color: #3E3E3E;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}
.chart{
    margin-top: 20px !important;
}
.meetingInfo{
  margin-top: 20px !important;
}
.calenderRight{
  margin-top: 20px !important;
}