.sider {
  background-color: #ffffff;
  border-top-right-radius: 10px;
  padding: 20px 10px 10px 10px !important;
  height: 84vh;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  top: 108px;
  left: 0;
}

.icon-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon {
  width: 50px;
  height: 25px;
  cursor: pointer;
  transition: color 0.3s;
  color: #002B55BD;
  margin-bottom: 10px;
}

.icon:hover {
  color: #1890ff;
}